@import url('https://fonts.googleapis.com/css?family=Roboto:400,500&subset=latin-ext');

body {
    background-image: url("images/fondue-bg-big.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

#bg {
    display: none;
}

#bg img {
    display: none;
}


body:after {
    display: none;
    content: url("images/facebook-logo-white.png") url("images/facebook-logo-yellow.png");
}

.center {
    margin: auto;
    position: fixed;
    display: flex;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
}

.container {
    margin: auto;
    max-width: 60%;
}

.logo {
    display: block;
    margin: auto;
    position: relative;
    max-width: 100%;
}

.facebook div {
    -moz-transition: background 0.5s ease;
    -o-transition: background 0.5s ease;
    -webkit-transition: background 0.5s ease;
    transition: background 0.5s ease;
    background: url("images/facebook-logo-yellow.png") ;
    background-repeat: no-repeat;
    margin: auto;
    width: 113px;
    height: 113px;
}

.facebook div:hover {
    background: url("images/facebook-logo-white.png");
}

.facebook {
    display: block;
    margin: auto;
    width: 113px;
    height: 113px;
}

p {
    font-family: Roboto, sans-serif ;
    font-weight: 400;
    font-size: 1.6em;
    color: #ffffff;
    text-align: center;
    padding: 20px;
    /*background: rgba(36, 19, 0, .75);*/
    background-color: rgba(0, 0, 0, .5);
    margin-top: 10px;
}

.bold {
    font-family: Roboto Medium, sans-serif;
    font-weight: 500;
}


.overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .5);
    z-index: -1;
}

@media only screen and (max-width: 768px) {
    p {
        font-size: 1em;
    }

    .container {
        max-width: 80%;
    }

    .facebook div {
        background-size: 80px 80px;
        margin: auto;
        width: 80px;
        height: 80px;
    }

    .facebook div:hover {
        background: url("images/facebook-logo-white.png");
        background-size: 80px 80px;
    }

    .facebook {
        display: block;
        margin: auto;
        width: 80px;
        height: 80px;
    }

    #bg {
        display: block;
        position: fixed;
        top: -50%;
        left: -60%;
        width: 200%;
        height: 200%;
        z-index: -2;
    }

    #bg img {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        min-width: 10%;
        min-height: 10%;
        max-width: 150%;
        max-height: 150%;
        z-index: -2;
    }

    body {
        background: none;
    }
}